::-webkit-scrollbar-thumb {
	background-color: #e1e1e1;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #8360c3;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
	background-color: #8360c3;
	border-radius: 10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Poppins", system-ui;
}

body { 
	background: #b38add;	
	/* background: #2e1a47; */
	background: linear-gradient(to right, #2ebf91, #8360c3);
	/* background: linear-gradient(to right, #1b3b2f, #2e1a47); */
	color: #fff;
	font-size: .95em;
	margin-inline: 215px;
	/* display: flex; */
}

h2 {
	margin: 10px 0;
}

.banner-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 600px;
	margin: 74px 0;
	
	.banner-background {
		position: relative;
		width: 95%;
		height: 480px;
		border-radius: 10px;
		box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.79);
		overflow: hidden;
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.greeting-container{
			position: absolute;
			top: 0;
			left: 0;
			margin-inline: 15px;
			width: 400px;
			height: 200px;
			
			p{
				font-size: 4em;
				font-family: "Dancing Script", cursive;
				color: #ffffff84;
			}
		}
	}

	.profile-picture {
		position: absolute;
		bottom: 10px;
		width: 240px;
		height: 240px;
		border-radius: 50%;
		box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.79);
		overflow: hidden;
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}


.about-container {
	width: 100%;
	height: 600px;
	margin-bottom: 70px;
	
	.about-description{
		margin: 0 auto;
		text-align: center;
		width: 100%;
		height: 15%;
		margin-bottom: 30px;
	}
	
	.about-layout {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 50px;
		width: 100%;
		height: 80%;
	}
}

.gallery-container {
	display: grid;
	  align-items: center;
	width: 100%;
	height: 600px;
	margin-bottom: 80px;
	
	.gallery-description{
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}
	
	.gallery-layout {
		display: grid;
		justify-content: center;
		justify-items: center;
		align-items: center;
		grid-template-columns: repeat(auto-fill, minmax(311px, 0fr));
		gap: 10px;
		height: auto;
	}
}

@media (max-width: 500px) {
	body{
		margin-inline: 10px;
		font-size: 1em;
	}

	main{
		margin-bottom: 140px;	
	}
	.banner-container{
	margin: 54px 0 74px;

	}
	.about-container{
		height: auto;
		padding-inline: 10px;

		.about-layout{
			gap: 30px;
		}
	}
	.gallery-container{
		height: auto;
		padding-inline: 10px;
		

		.gallery-description{
			margin-bottom: 30px;
		}
	}
}